<!DOCTYPE HTML>
<html lang="de" class="no-js" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <title>Spring Boot Thymeleaf Hello World Example</title>

  <link rel="manifest" href="site.webmanifest">
  <link rel="apple-touch-icon" href="icon.png">
  <!-- Place favicon.ico in the root directory -->

  <link rel="stylesheet" href="css/normalize.css">
  <link rel="stylesheet" href="css/main.css">

  <meta name="theme-color" content="#fafafa">

</head>

<body>

  <main>
    <h1>
      <a href="/">Home</a>
    </h1>


    <form th:action="@{/findMedia}" th:object="${mediaDTO}" method="POST">
    <br/>
      Name:
      <input type="text" th:field="*{name}" />
      <br />
      Author:
      <input type="text" th:field="*{author}" />
      <br />
      ISBN / FSK
      <input type="text" th:field="*{iSBNfSK}" />
      <br />
      Category:
      <select th:field="*{category}">
        <option th:each="c : ${T(at.ac.fhsalzburg.swd.spring.enums.mediaCategory).values()}"
                th:value="${c}"
                th:text="${c}">
        </option>
    </select>
      <br />
      <input type="submit" value="Find Media" />
    </form>

    <br /><br />
  </main>
  <!-- /.container -->



  <script src="js/vendor/modernizr-3.7.1.min.js"></script>
  <script src="https://code.jquery.com/jquery-3.4.1.min.js"
    integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
  <script>
    window.jQuery || document.write('<script src="js/vendor/jquery-3.4.1.min.js"><\/script>')
  </script>
  <script src="js/plugins.js"></script>
  <script src="js/main.js"></script>

  <!-- Google Analytics: change UA-XXXXX-Y to be your site's ID. -->
  <script>
    window.ga = function () {
      ga.q.push(arguments)
    };
    ga.q = [];
    ga.l = +new Date;
    ga('create', 'UA-XXXXX-Y', 'auto');
    ga('set', 'transport', 'beacon');
    ga('send', 'pageview')
  </script>
  <script src="https://www.google-analytics.com/analytics.js" async></script>



</body>

</html>